@charset "uft-8";

* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
@font-face {
    font-family: cinzelM;
    src: url("../font/Cinzel-Medium.ttf");
}
@font-face {
    font-family: cinzelSB;
    src: url("../font/Cinzel-SemiBold.ttf");
}
@font-face {
    font-family: cinzelR;
    src: url("../font/Cinzel-Regular.ttf");
}
@font-face {
    font-family: nanumR;
    src: url("../font/NanumSquareR.ttf");
}
@mixin flex($wrap, $just) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $just;
}
@mixin size($w, $h) {
    width: $w;
    height: $h;
}
@mixin absolute($t, $l) {
    top: $t;
    left: $l;
}
@mixin content_btn {
    cursor: pointer;
    @include size(180px, 45px);
    margin-top: 30px;
    background-color: rgba(201, 201, 195, 0.1);
    border: 1px solid white;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    transition: 1s;
    color: black;
    p {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            background-color: white;
            @include size(0, 100%);
            @include absolute(0, 0);
            transition: linear .3s;
            z-index: -1;
        }
    }
    &:hover {
        p {
            font-weight: bold;
            color: #072745;
        }
        // border: 1px solid #072745;
        p::before {
            width: 100%;
        }
    }
}

.header {
    font-family: "cinzelR";
    @include size(100%, 960px);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/offer_banner.png");
    background-size: cover;
    background-position: center;
    .header_wrap {
        @include flex(wrap, center);
        height: 100%;
        text-align: center;
        align-items: center;
        .title {
            color: white;
            overflow: hidden;
            filter: drop-shadow(0px 0px 3px black);
        }
        .title_wrap {
            font-size: 72px;
            overflow: hidden;
            @include flex(wrap, center);
            height: 100px;
            .up {                
                transition: 1s;
                transform: translateY(100%);
                &.active {
                    transform: translateY(0px);
                }
            }
            .down {               
                transition: 1s;
                transform: translateY(-100%);
                &.active {
                    transform: translateY(0px);
                }
            }
        }
        p {
            transform: translateY(100%);
            font-size: 24px;
            transition: 1s linear;
            transition-delay: .3s;
            opacity: 0;
            &.active {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.nav {
    font-family: "cinzelSB";
    z-index: 99;
    position: fixed;
    top: 0;
    @include size(100%, 70px);
    .nav_wrap {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        margin: 0 auto;
    }
    &.on {
        img {
            filter: invert(100%);
        }
        .menu a {
            color: black;
        }
    }
    .menu {
        height: 70px;
        grid-column: 2/3;
        @include flex(wrap, space-around);
        align-items: center;
        li {
            width: 150px;
            text-align: center;
        }
        img {
            @include size(150px, 56px);
        }
        a {
            color: white;
        }
    }
    .icon {
        @include flex(wrap, flex-start);
        align-items: center;
        ul {
            width: 150px;
            @include flex(wrap, space-around);
        }
    }
    .nav_expand {
        width: 100%;
        position: absolute;
        @include absolute(0, 50%);
        transform: translateX(-50%);
        z-index: -1;
        height: 0;
        background-color: white;
        overflow: hidden;
        filter: drop-shadow(0px 3px 3px rgb(216, 216, 216));
    }
    &.on {
        &::after {
            content: "";
            position: absolute;
            @include size(100%, 1px);
            @include absolute(70px, 0);
            background-color: black;
        }
    }
    .nav_expand_wrap {
        position: relative;
        padding-top: 70px;
        max-width: 60%;
        margin: 0 auto;
        @include flex(wrap, space-around);
        ul {
            margin-top: 3px;
            width: 150px;
            text-align: center;
        }
        li {
            position: relative;
            padding: 8px 0;
            a {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background-color: black;
                    scale: 0;
                    transition: .3s;
                    @include size(100%, 1px);
                    @include absolute(19px, 0);
                }
            }
            &:hover {
                a::after {
                    scale: 1;
                }
            }
        }
        .space {
            width: 150px;
        }
    }
}
.content_1 {
    font-family: "cinzelM";
    width: 100%;
    @include flex(wrap, center);
    text-align: center;
    // align-items: center;
    .title {
        margin-top: 115px;
        margin-bottom: 100px;
        font-size: 40px;
        span {
            font-size: 30px;
        }
        &::after {
            content: "";
            position: absolute;
            @include size(100px, 2px);
            background-color: #e3dede;
            left: 50%;
            margin-top: 50px;
            transform: translateX(-50%);
        }
    }
    .title_sub {
        font-family: nanumR;
        line-height: 36px;
        width: 710px;
        font-size: 18px;
        margin-bottom: 115px;
    }
}

.content_2 {
    margin-top: 150px;
    @include size(100%, auto);
    .content_wrap {
        max-width: 1200px;
        height: fit-content;
        @include flex(wrap, space-between);
        margin: 0 auto;
    }
    .item {
        @include size(280px, 490px);
        overflow: hidden;
        position: relative;
        &:nth-child(1) {
            .img_wrap {
                background: url("../images/meeting.jpg");
                background-size: cover;
                background-position: center;
            }
        }
        &:nth-child(2) {
            .img_wrap {
                background: url("../images/pool.png");
                background-size: cover;
                background-position: center;
            }
        }
        &:nth-child(3) {
            .img_wrap {
                background: url("../images/lounge.jpg");
                background-size: cover;
                background-position: center;
            }
        }
        &:nth-child(4) {
            .img_wrap {
                background: url("../images/casino.jpg");
                background-size: cover;
                background-position: center;
            }
        }
        &:hover {
            .img_wrap {
                scale: 1.05;
            }
            p {
                background-color: transparent;
            }
        }
    }
    .img_wrap {
        @include size(100%, 100%);
        background-size: cover;
        background-position: center;
        transition: .3s;
    }
    p {
        font-family: cinzelR;
        font-size: 25px;
        position: absolute;
        @include size(100%, 100%);
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        text-align: center;
        line-height: 490px;
        color: #072745;
        transition: .3s;
    }
}

.content_3 {
    margin-top: 150px;
    @include size(100%, 500px);
    background: no-repeat url("../images/spa.jpg");
    background-size: cover;
    background-position: center;
    .content_wrap {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .item {
        position: absolute;
        @include size(390px, 460px);
        @include absolute(90px, 700px);
        @include flex(wrap, center);
        align-items: center;
        background-color: rgba(7, 39, 69, 0.9);
        color: white;
    }
    .text_wrap {
        @include size(70%, 70%);
        h3 {
            font-size: 30px;
            font-family: cinzelR;
            margin-bottom: 70px;
        }
        p {
            font-size: 14px;
            font-family: nanumR;
            line-height: 30px;
            margin-bottom: 65px;
        }
    }
    .button {
        p {
            color: white;
            line-height: 45px;
        }
        @include content_btn;
    }
}

.content_4 {
    margin-top: 150px;
    .content_wrap {
        max-width: 1200px;
        margin: 0 auto;
    }
    .item {
        @include flex(wrap, space-between);
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
    .img_wrap {
        @include size(600px, 370px);
        overflow: hidden;
        img {
            transition: .3s;
        }
        &:hover {
            img {
                scale: 1.05;
            }
        }
    }
    .text_wrap {
        @include size(600px, 370px);
        @include flex(wrap, center);
        align-items: center;
        text-align: center;
        .text_content_wrap {
            @include size(80%, fit-content);
        }
        h3 {
            font-family: cinzelR;
            font-size: 32px;
        }
        p {
            font-family: nanumR;
            font-size: 14px;
        }
    }
}

.info {
    font-family: "nanumR";
    margin-top: 125px;
    padding-bottom: 50px;
    @include flex(wrap, space-between);
    background-color: #000;
    text-align: center;
    color: white;
    .top {
        position: relative;
        width: auto;
        margin-top: 20px;
        img {
            margin: 5px 20px;
            @include size(5%, 5%);
        }
        .tru {
            -webkit-filter: invert(100%);
        }
        &::after {
            content: "";
            position: absolute;
            @include absolute(160px, 50%);
            transform: translateX(-50%);
            @include size(1250px, 1px);
            background-color: white;
        }
    }
    .bottom {
        width: 65%;
        margin: 0 auto;
        margin-top: 30px;
        @include flex(wrap, space-between);
        font-size: 14px;
        align-items: center;
        text-align: left;
        .logo {
            @include size(150px, 56px);
            img {
                @include size(100%, 100%);
            }
        }
        .text {
            ul {
                width: 700px;
                @include flex(wrap, flex-start);
                margin-bottom: 30px;
                li {
                    padding-right: 30px;
                    margin-bottom: 10px;
                }
            }
            p {
                color: #868484;
            }
        }
        .sns ul{
            width: 200px;
            @include flex(wrap, space-between);
        }
    }
}